<div class="row">
  <div class="col-md-3 col-sm-5">

    <div style="margin-top: 25px">
      <a href="https://en.gravatar.com/gravatars/new" tooltip="Click to create a profile picture"><img gravatar-src="'{{user.email}}'" gravatar-size="263" class="profile-avatar-img thumbnail" alt="Profile Image"></a>
    </div> <!-- /.profile-avatar -->

    <div class="list-group">

      <a href="#/users/{{user.publicId}}" class="list-group-item">
        <i class="fa fa-tasks text-primary"></i> &nbsp;&nbsp;Profile

        <i class="fa fa-chevron-right list-group-chevron pull-right"></i>
      </a>
      <!-- <a href="#/messages" class="list-group-item">
        <i class="fa fa-envelope text-primary"></i> &nbsp;&nbsp;Messages

        <i class="fa fa-chevron-right list-group-chevron pull-right"></i>
      </a> -->
      <!-- <a href="#/friends" class="list-group-item">
        <i class="fa fa-group text-primary"></i> &nbsp;&nbsp;Friends

        <i class="fa fa-chevron-right list-group-chevron pull-right"></i>
      </a> -->
      <!-- <a href="#/settings" class="list-group-item">
        <i class="fa fa-cog text-primary"></i> &nbsp;&nbsp;Settings

        <i class="fa fa-chevron-right list-group-chevron pull-right"></i>
      </a> -->
    </div>

  </div>

  <div class="col-md-6 col-sm-7">
    <h3 style="margin-top: 25px">{{user.firstname}} {{user.lastname}}</h3>
    <h5 class="text-muted">{{user.title}}</h5>
    <hr>
    <ul class="icons-list fa-ul">
      <li><i class="fa-li fa fa-envelope"></i> {{user.email}}</li>
      <li ng-show="user.website != null"><i class="fa-li fa fa-globe"></i> {{user.website}}</li>
      <li ng-show="user.website != null"><i class="fa-li fa fa-map-marker"></i> {{user.location}}</li>
    </ul>
    <br>
    <p>
    {{description}}
    </p>
    <hr>
  </div> <!-- /.col -->

  <div class="col-md-3">
    <div class="panel panel-primary" style="margin-top: 25px">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Brewer Stats</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">

          <a href="javascript:;" class="list-group-item">
              <h3 class="pull-right"><i class="fa fa-eye text-primary"></i></h3>
              <h4 class="list-group-item-heading">{{user.rank}}</h4>
              <p class="list-group-item-text">Club Rank</p>
            </a>

          <a href="javascript:;" class="list-group-item">
            <h3 class="pull-right"><i class="fa fa-trophy  text-primary"></i></h3>
            <h4 class="list-group-item-heading">{{user.awardsCount}}</h4>
            <p class="list-group-item-text">Awards Won</p>
          </a>

          <a href="#/recipes" class="list-group-item">
            <h3 class="pull-right"><i class="fa fa-edit  text-primary"></i></h3>
            <h4 class="list-group-item-heading">{{user.recipeCount}}</h4>
            <p class="list-group-item-text">Recipes</p>
          </a>
        </div> <!-- /.list-group -->
      </div>
    </div>
  </div> <!-- /.col -->
</div> <!-- /.row -->
