

<div class="container">
	<h1>Sickly Stout <small>Chris Bartos</small></h1><hr>

  <div class="row" style="margin-top:30px">
    <div class="col-lg-12">
    	<h3>Recipe</h3>
      <div class="panel panel-primary"  style="margin-left: 20px; margin-right: 20px">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-trophy"></i>&nbsp;&nbsp; Fermentables</h3>
        </div>
        <table class="table">
        <tr>
        	<td>American 2-Row Pale Malt</td>
        	<td>14.0 lbs</td>
        	<td>100 %</td>
        </tr>
        </table>
      </div>
      <div class="panel panel-primary" style="margin-left: 20px; margin-right: 20px">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-trophy"></i>&nbsp;&nbsp; Hops</h3>
        </div>
        <table class="table">
        <tr>
        	<td>Citra Hops</td>
        	<td>12.4 % AA</td>
        	<td>2.0 oz</td>
        	<td>60 min</td>
        	<td>40 IBU</td>
        </tr>
        <tr>
        	<td>Citra Hops</td>
        	<td>12.4 % AA</td>
        	<td>2.0 oz</td>
        	<td>20 min</td>
        	<td>15 IBU</td>
        </tr>
        <tr>
        	<td>Citra Hops</td>
        	<td>12.4 % AA</td>
        	<td>2.0 oz</td>
        	<td>Dry Hopped</td>
        	<td>0 IBU</td>
        </tr>
        </table>
      </div>
      <div class="panel panel-primary" style="margin-left: 20px; margin-right: 20px">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-trophy"></i>&nbsp;&nbsp; Yeast</h3>
        </div>
        <table class="table">
	        <tr>
	        	<td>WLP001</td>
	        	<td>California Ale</td>
	        	<td>2.0 vials</td>
	        </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-12">
    	<h3>Target Water Profile -- Burton on Trent</h3>
      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Calcium"><i class="fa fa-clock-o"></i> Ca</h3>
          </div>
          <div class="panel-body">
            295.0  ppm
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Magnesium"><i class="fa fa-clock-o"></i> Mg</h3>
          </div>
          <div class="panel-body">
            45.0  ppm
          </div>
        </div>
      </div>


      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Sodium"><i class="fa fa-clock-o"></i> Na</h3>
          </div>
          <div class="panel-body">
            55.00  ppm
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Sulfate"><i class="fa fa-clock-o"></i> SO4</h3>
          </div>
          <div class="panel-body">
            725.0  ppm
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Chloride"><i class="fa fa-clock-o"></i> Cl</h3>
          </div>
          <div class="panel-body">
            25.00 ppm
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Bicarbonate"><i class="fa fa-clock-o"></i> HCO3</h3>
          </div>
          <div class="panel-body">
            300.0  ppm
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
    	<h3>Mashing</h3>
    	<div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Bicarbonate"><i class="fa fa-clock-o"></i> Equipment</h3>
          </div>
          <div class="panel-body">
            10 gallon cooler
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Bicarbonate"><i class="fa fa-clock-o"></i> Mash Temp</h3>
          </div>
          <div class="panel-body">
            149 &deg;
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Bicarbonate"><i class="fa fa-clock-o"></i> Mash Timer</h3>
          </div>
          <div class="panel-body">
            60 minutes
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-toggle="tooltip" data-placement="left"
                tooltip-placement="top" tooltip="Bicarbonate"><i class="fa fa-clock-o"></i> Amount of Water Needed</h3>
          </div>
          <div class="panel-body">
            10.45 gallons
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
    	<h3>Comments</h3>
    	<div class="clearfix">
        <textarea class="form-control" rows="3" placeholder="Share what you've been up to..." tabindex="1"></textarea>

        <div class="text-highlight" style="height: 50px">
          <div class="share-type pull-left">
            <a href="javascript:;" class="btn btn-default" data-original-title="Post an Image">
            	<i class="fa fa-picture-o"></i>
            </a>
            <a href="javascript:;" class="btn btn-default" data-original-title="Upload a Video">
            	<i class="fa fa-video-camera"></i>
            </a>
            <a href="javascript:;" class="btn btn-default" data-original-title="Post an Idea">
            	<i class="fa fa-lightbulb-o"></i>
            </a>
            <a href="javascript:;" class="btn btn-default" data-original-title="Ask a Question">
            	<i class="fa fa-question-circle"></i>
            </a>
          </div>
          <div class="pull-right">
            <a class="btn btn-danger btn-sm" tabindex="2">Post</a>
          </div>
        </div>
      </div>
    </div>

    	<div class="message-wrap">
        <div class="msg-wrap">
          <div class="media msg">
            <a class="pull-left" href="#">
                <img class="media-object" alt="64x64" src="http://placehold.it/50x50">
            </a>
            <div class="media-body">
              <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
              <h5 class="media-heading">Naimish Sakhpara</h5>
              <small class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near
                  Shreyas Crossing Dharnidhar Derasar,
                  Paldi, Ahmedabad 380007, Ahmedabad,
                  India
                  Phone 091 37 669307
                  Email aapamdavad.district@gmail.com</small>
            </div>
          </div>
          <div class="media msg">
            <a class="pull-left" href="#">
                <img class="media-object" alt="64x64" src="http://placehold.it/50x50">
            </a>
            <div class="media-body">
              <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

              <h5 class="media-heading">Naimish Sakhpara</h5>
              <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
            </div>
          </div>
          <div class="media msg">
            <a class="pull-left" href="#">
                <img class="media-object" alt="64x64" src="http://placehold.it/50x50">
            </a>
            <div class="media-body">
              <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

              <h5 class="media-heading">Naimish Sakhpara</h5>
              <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
            </div>
          </div>

          <div class="media msg">
            <a class="pull-left" href="#">
              <img class="media-object" alt="64x64" src="http://placehold.it/50x50">
            </a>
            <div class="media-body">
              <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
              <h5 class="media-heading">Naimish Sakhpara</h5>

              <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
            </div>
          </div>
        </div>
	    </div>
    </div>
  </div>
</div>
