@(message: String)

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("app/bower_components/bootstrap/dist/css/bootstrap.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("app/bower_components/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("app/styles/main.css")">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="view-container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HopBurp</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://blog.hopburp.com">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/app/">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!-- Jumbotron -->
      <div class="jumbotron" style="width: 1200px; margin: auto;">
        <h1>Join Hopburp!</h1>
        <p class="lead">Save all your homebrew scoresheets here!</p>
        <p><a class="btn btn-lg btn-success" href="/login" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row" style="width: 1200px; margin: auto;">
        <div class="col-lg-4">
          <h2>Upload your recipes</h2>
          </p>
            It doesn't matter where you have your recipes saved, (beersmith, brewtoad, etc.). Just type in the link to your recipe
            and keep sending us your homebrew scores.
          </p>
        </div>
        <div class="col-lg-4">
          <h2>Improve your brewing skills</h2>
          <p>We keep track of when you get awards for your homebrews and a graph of all your scores!</p>
       </div>
        <div class="col-lg-4">
          <h2>Decide the fate of Hopburp</h2>
          <p>
            This is only a prototype. If you want any improvements or cool features, continually sending us feedback
            will bend Hopburp to your will. Something not working? Something amiss? Give us your ideas!
          </p>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="container">
          <hr />
          <footer>
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; HopBurp 2014
                      <hr />
                  </div>
              </div>
          </footer>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
</body>
</html>
